{% extends 'base.html' %}



{% block content %}
<div class="container mt-4">


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'despesas' %}">Despesas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Nova Despesa</li>
    </ol>
  </nav>
  
  <div class="card">
    <div class="card-body">
    <form action="{% url 'add-despesa' %}" method="post">
      {% include 'partials/_messages.html' %}
    {% csrf_token %}
      <div class="form-group">
        <label for="">Valor</label>
        <input type="number" name='valor' class="form-control form-control-sm">
      </div>
      <div class="form-group">
        <label for="">Descrição</label>
        <input type="text" name='descricao' class="form-control form-control-sm">
      </div>
      <div class="form-group">
        <label for="">Categoria</label>
        <select class='form-control' name="tipoDespesa">
          <option name='tipoDespesa' value="Alimentação">Alimentação</option>
          <option name='tipoDespesa' value="Educação">Educação</option>
          <option name='tipoDespesa' value="Lazer">Lazer</option>
          <option name='tipoDespesa' value="Moradia">Moradia</option>
          <option name='tipoDespesa' value="Roupa">Roupa</option>
          <option name='tipoDespesa' value="Saúde">Saúde</option>
          <option name='tipoDespesa' value="Transporte">Transporte</option>
          <option name='tipoDespesa' value="Outros">Outros</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Conta</label>
        <select class='form-control' name="nome">

          {% for conta in contas %}
          <option name='nome' value="{{conta.nome}}">{{conta.nome}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="">Data de Pagamento</label>
        <input type="date" name='dataPagamento' class="form-control form-control-sm">
      </div>
      <div class="form-group">
        <label for="">Data do Pagamento Esperado</label>
        <input type="date" name='dataPagamentoEsperado' class="form-control form-control-sm">
      </div>
      <input type="submit" value='Submit' class='btn btn-primary btn-primary-sm'>
    </form>
    </div>
  </div>

</div>

{% endblock %}