{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'despesas'%}">Despesas</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Editar Despesa
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a
        href="{% url 'deletar-despesa' despesa.id %}"
        class="btn btn-danger btn-sm"
        >Delete</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'edita-despesa' despesa.id %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">Valor</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="valor"
            value="{{values.valor}}"
          />
        </div>
        <div class="form-group">
          <label for="">Descrição</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="descricao"
            value="{{values.descricao}}"
          />
        </div>
        <div class="form-group">
          <label for="">Categoria</label>
          <select class="form-control" name="tipoDespesa">
            <option selected name="category" value="{{values.tipoDespesa}}"
              >{{values.tipoDespesa}}</option>
              <option name='tipoDespesa' value="Alimentação">Alimentação</option>
              <option name='tipoDespesa' value="Educação">Educação</option>
              <option name='tipoDespesa' value="Lazer">Lazer</option>
              <option name='tipoDespesa' value="Moradia">Moradia</option>
              <option name='tipoDespesa' value="Roupa">Roupa</option>
              <option name='tipoDespesa' value="Saúde">Saúde</option>
              <option name='tipoDespesa' value="Transporte">Transporte</option>
              <option name='tipoDespesa' value="Outros">Outros</option>

          </div>
          </select>
          <div class="form-group">
            <label for="">Conta</label>
            <select class="form-control" name="conta">
              <option selected name="conta" value="{{values.conta}}"
                >{{values.conta}}</option
              >
              {% for conta in contas %}
              <option name="conta" value="{{conta.nome}}"
                >{{conta.nome}}</option
              >
  
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="">Data de Pagamento</label>
          <input
            type="date"
            value="{{values.dataPagamento |date:'Y-m-d' }}"
            class="form-control form-control-sm"
            name="dataPagamento"
          />
        </div>
        <div class="form-group">
          <label for="">Date de Pagamento Esperado</label>
          <input
            type="date"
            value="{{values.dataPagamentoEsperado |date:'Y-m-d' }}"
            class="form-control form-control-sm"
            name="dataPagamentoEsperado"
          />
        </div>

        <input
          type="submit"
          value="Save"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
