
{% extends 'base.html' %}
{% load static %}

{% load widget_tweaks %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Receitas</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Minhas Receitas
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url 'add-receita'%}" class="btn btn-primary">Add receita</a>
    </div>
  </div>

  <div class="container">
    {% include 'partials/_messages.html' %}

  {% if receitas.count %}
<div class="app-table">

  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Valor</th>
        <th>Conta</th>
        <th>Estilo de Despesa</th>
        <th>Data Pagamento</th>
        <th>Data Pagamento Esperado</th>[
        <th>Descrição</th>]
      </tr>
    </thead>

    <tbody>
      {% for receita in receitas %}
      <tr>
        <td>{{receita.valor}}</td>
        <td>{{receita.conta}}</td>
        <td>{{receita.tipoReceita}}</td>
        <td>{{receita.dataRecebimento}}</td>
        <td>{{receita.dataRecebimentoEsperado}}</td>
        <td>{{receita.descricao}}</td>

        <td>
          <a
            href="{% url 'edita-receita' receita.id %}"
            class="btn btn-secondary btn-sm"
            >Edit</a
          >
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

<p class="no-results" style="display: none;">Sem resultado </p>




    <div class="pagination-container">
    <div class="">
      Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
    </div>
    <ul class="pagination align-right float-right mr-auto">
      {% if page_obj.has_previous %}
      <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if page_obj.has_next %}
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
      {% endif %}


      </ul>
    {% endif %}
  </div>
</div>
</div>





</script>



{% endblock content %}
