{% load static %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'despesas' %}">
            <span data-feather="file"></span>
            Despesas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'receitas' %}">
            <span data-feather="shopping-cart"></span>
            Receitas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contas' %}">
            <span data-feather="shopping-cart"></span>
            Contas
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
      </ul>
    </div>
  </nav>