{% extends 'base.html' %}



{% block content %}
<div class="container mt-4">


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'contas' %}">Contas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Nova Conta</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
    <form action="{% url 'add-conta' %}" method="post">
      {% include 'partials/_messages.html' %}
    {% csrf_token %}
      <!-- <div class="form-group">
        <label for="">Conta</label>
        <input type="text" name='tipoconta' class="form-control form-control-sm">
      </div> -->
      <div class="form-group">
        <label for="">Nome da Conta</label>
        <input type="text" name='nome' class="form-control form-control-sm">
      </div>
      <div class="form-group">
        <label for="">Saldo</label>
        <input type="text" name='saldo' class="form-control form-control-sm">
      </div>
      <div class="form-group">
        <label for="">Instituição Financeira</label>
        <input type="text" name='instituicao' class="form-control form-control-sm">
      </div>
      <div class="form-group">
        <label for="">Estilo Conta</label>
        <select class='form-control' name="tipoconta">
          <option name='tipoconta' value="Corrente">Corrente</option>
          <option name='tipoconta' value="Poupança">Poupança</option>
          <option name='tipoconta' value="Carteira">Carteira</option>
        </select>
      </div>
      <input type="submit" value='Submit' class='btn btn-primary btn-primary-sm'>
    </form>
    </div>
  </div>

</div>

{% endblock %}