
{% extends 'base.html' %}
{% load static %}

{% load widget_tweaks %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Contas</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Minhas Contas
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url 'add-conta'%}" class="btn btn-primary">Add Conta</a>
    </div>
  </div>

  <div class="container">
    {% include 'partials/_messages.html' %}

    <div class="row">
      <div class="col">
        <div class="card card-body">
    
    
        </div>
      </div>
    </div>

<div class="app-table">

  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Nome da Conta</th>
        <th>Valor</th>
        <th>Conta</th>
        <th>Instituição Financeira</th>

        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for conta in contas %}
      <tr>
        <td>{{conta.nome}}</td>
        <td>{{conta.saldo}}</td>
        <td>{{conta.tipoConta}}</td>
        <td>{{conta.instituicao}}</td>

        <td>
          <a
            href="{% url 'edita-conta' conta.id %}"
            class="btn btn-secondary btn-sm"
            >Edit</a
          >
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

<p class="no-results" style="display: none;">Sem resultado </p>




    <div class="pagination-container">
    <div class="">
      Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
    </div>
    <ul class="pagination align-right float-right mr-auto">
      {% if page_obj.has_previous %}
      <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if page_obj.has_next %}
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
      {% endif %}
      <li>{{ saldo|add:3 }}</li>

      </ul>

  </div>
</div>
</div>





</script>



{% endblock content %}
