{% extends 'base_auth.html' %}

{% block content %}
<body class="hold-transition register-page">
	<div class="register-box">
	  <div class="card card-outline card-primary">
		<div class="card-header text-center">
		  <a href="" class="h1"><b>Smart</b>Finances</a>
		</div>
		<div class="card-body">
		  <p class="login-box-msg">Cadastre-se no site</p>
	
		  <form action="" method="post">
			{% csrf_token %}
			{% include 'partials/_messages.html' %}
			<div class="input-group mb-3">
			  <input type="text" class="form-control" placeholder="Nome" name='username'>
			  <div class="input-group-append">
			  </div>
			</div>
			<div class="input-group mb-3">
			  <input type="email" class="form-control" placeholder="Email" name='email'>
			  <div class="input-group-append">
			  </div>
			</div>
			<div class="input-group mb-3">
			  <input type="password" class="form-control" placeholder="Senha" name='password1'>
			  <div class="input-group-append">
			  </div>
			</div>
			<div class="input-group mb-3">
			  <input type="password" class="form-control" name='password2' placeholder="Repita a Senha">
			  <div class="input-group-append">
			  </div>
			</div>
			  <div class="row">
				<button type="submit" class="btn btn-primary btn-block">Criar conta</button>
			  </div>
			</div>
		  </form>
		  <a href="{% url 'login' %}" class="text-center">Já tenho conta</a>
		</div>
	  </div>
	</div>
{% endblock %}